.filters-section {
    display: flex;
    align-items: center;
}

.filters-title {
    width: 80px;
    margin: 0;
    align-self: baseline;
    font-size: 1em;
    font-family: "Roboto', sans-serif";
    font-weight: 800;
}

.filters {
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: space-around;
    padding: 0 20px;
    box-sizing: border-box;
}

.filters-list {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 65%;
    justify-content: space-between;
    gap: 10px;
}

.filters-list label {
    font-weight: 900;
    padding-bottom: 2px;
}

.filter-by-keyword {
    height: inherit;
    width: 90%;
}

.keyword-search {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.85em;
    padding: 10px 5px;
    box-sizing: border-box;
    height: 100%;
}

.keyword-search::placeholder {
    color: black;
}

.dropdown-title {
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: white;
    padding: 10px 10px;
    margin: 0;
    border: 1px solid black;
    cursor: pointer;
    width: 165px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown {
    position: relative;
}

.pop-up-dropdown {
    position: absolute;
    flex-direction: column;
    border: 1px solid black;
    width: 99%;
    align-items: flex-start;
    gap: 5px;
    padding: 5px 0;
    height: 140px;
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.pop-up-dropdown.active {
    display: flex;
}

.pop-up-dropdown.hidden {
    display: none;
}

.checkbox-for-filter {
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 10%;
    width: 100%;
}

.checkbox-for-filter input {
    margin-left: 10px;
}

.checkbox-for-filter label {
    font-weight: 400;
}

.search-all-filters-button {
    margin: 0;
    box-sizing: border-box;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #237397;
    border: 1px solid #237397;
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.search-all-filters-button:hover {
    background-color: #fff;
    color: #237397;
    border: 2px solid #237397;
}