#individual-car-page-section {
    margin: 0 15%;
    padding-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.car-main-img {
    width: 100%;
    border-radius: 5px;
    display: flex;
    background-color: white;
    justify-content: center;
    height: 400px;
    max-height: 600px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.car-main-img img {
    object-fit: contain;
}


.car-content {
    width: 100%;
}

.car-title {
    font-size: 2em;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.car-title span {
    padding-left: 1px;
    font-size: 20px;
    color: #b1aeae;
    display: block;
}