.navbar-container {
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 15px 0;
    background: transparent;
    transition: 0.3s all;
}

.navbar-container.not-home-nav {
    background-color: white;
    padding: 0;
}

.navbar {
    display: flex;
    width: 100%;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    min-width: 150px;
    width: 150px;
}

.logo {
    width: 100%;
}

.nav-menu {
    gap: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 30%;
    gap: 50px;
}

.nav-list {
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-family: Hina Mincho;
    font-size: 1.2em;
}


.nav-link {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav-menu.appear {
    left: 0;
}

.nav-item {
    font-size: 1em;
    display: flex;
    align-items: center;
}

.nav-item a {
    text-decoration: none;
    color: white;
    transition: 0.4s all;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.not-home-nav a {
    color: rgb(35, 115, 151);
}

.not-home-nav .log-in:hover {
    color: white;
}

.nav-item a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.not-home-nav a:hover {
    color: rgba(35, 115, 151, 0.6);
}

.sign-in-btns {
    padding-right: 75px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 0.9em;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.sign-in-btns a:hover {
    filter: brightness(70%);
}

.sign-up {
    text-decoration: none;
    color: #237397;
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
}

.log-in {
    text-decoration: none;
    color: white;
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #237397;
    box-shadow: 0px 0.3px 0.5px 0px rgba(0, 0, 0, 0.10), 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
}

.not-home-nav .log-in {
    color: white;
}

.logged-in-user {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0px 0px 0px 2px rgba(35, 115, 151, 1);
    position: relative;
    border-radius: 3px;
}

.white{
    color:white;
}

.user-name {
    font-size: 19px;
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    gap: 5px;
    font-weight: 400;
    align-items: baseline;
    margin: 0;
    color: #237397;
    padding: 5px 15px;
}

.user-name:hover {
    background-color: rgb(234, 248, 255);
    color:#237397;
}

.dropdown-user-menu {
    top: 35px;
    position: absolute;
    display: none;
    flex-direction: column;
    height: 75px;
    width: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: white;
    color: #237397;
    cursor: pointer;
    box-shadow: 0px 0.3px 0.5px 0px rgba(0, 0, 0, 0.10), 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
}

.dropdown-user-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown-user-menu ul li {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.dropdown-user-menu ul li:hover {
    background-color: rgb(234, 248, 255);
}

.dropdown-user-menu.open {
    display: flex;
}

.user-drop-down-icon {
    transition: 0.35s all;
}

.user-drop-down-icon.flipped {
    transform: rotate(180deg);
}