#vehicle-list-section {
    padding-top: 80px;
}

.h1-header{
    margin: 0;
    font-size: 2rem; 
    font-stretch: expanded;
    font-weight: 900;
    font-family: 'Arial Narrow Bold', sans-serif;
    color: #000;
    text-align: center;
}
.vehicle-list-container {
    padding: 10px 110px;
}

.vehicle-list {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.vehicle-preview-card {
    background-color: white;
    border-radius: 10px;
    width: 300px; 
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
}

.vehicle-img-preview {
    width: 300px;
    height: 250px;
}

.vehicle-img-preview img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.vehicle-description button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #fff;
    border: 2px solid #237397;
    color: #237397;
    cursor: pointer;
    font-family: 'Arial Narrow Bold', sans-serif;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .vehicle-description button:hover {
    background-color: #237397;
    color: white;
  }

  .vehicle-description p {
    font-family: 'Arial Narrow Bold', sans-serif;
    color: gray;
    text-align: center;
  }