#vehicle-list-section {
    padding-top: 80px;
}

.vehicle-list-container {
    padding: 10px 20px;
}

.vehicle-list {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.vehicle-preview-card {
    min-height: 300px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    transition: 1s;
    border: 1px solid;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.vehicle-img-preview {
    width: 300px;
    height: 250px;
}

.vehicle-img-preview img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}